img.postPhotos(src!="<%= model.url_image %>", align="left")
h1.titleArticle
    <%- model.title %>
.description
    <%- model.description %>
.moreDetail(href="#")
    <%- createDate() %>
    a(href!='#show-article/<%- model.id %>')
        button.moreDetailButton(data-action="bea")
          | Citeste mai mult...
    a(href!='#update-article/<%- model.id %>')
        button.ButtonEdit(data-action="bea")
            | Edit

    button.ButtonDel(data-action="bea")
        | Delete