img.postPhotos(src="./static/post1.jpg", align="left")
h1.titleArticle
    <%- model.title %>
.description
    <%- model.description %>
    a.moreDetail(href="#")
      button.moreDetailButton(data-action="bea")
          | Citeste mai mult...