.col-md-10.col-md-offset-1
    .wrapper.col-md-10.col-md-offset-1

        .left-contain.col-md-8
            .articleWrap
                img.postPhotos(src="./static/post1.jpg", align="left")
                h1.titleArticle
                    | Despre experien?a culinar? din Asia
                .description
                    | M? gândesc c? deja ?i s-a f?cut un pic foame sau poft? când ai auzit de mâncare asiatic?. Tot conceptul ?sta are o alur? exotic?, interesant?, apetisant? ?i este adev?rat, o mare partedin preparatele din Asia sunt delicioase, îns? experien?a de la fa?a locului este un pic diferit? fa?? de cea de la un restaurant exotic din Europa, a?a c? m-am gândit...
                    a.moreDetail(href="#")
                        button.moreDetailButton(data-action="bea")
                            |Citeste mai mult...

            .articleWrap
                img.postPhotos(src="./static/post2.jpg", align="left")
                h1.titleArticle
                    | Prima dat? în Cambodgia
                    .description
                        | ?tiam prea putine lucruri despre Cambodgia înainte s? o vizit?m, îns? turul de 10
                        | zile pe care l-am f?cut aici ne-a înv??at mai multe decât orice lec?ie de istorie si civiliza?ie. Am
                        | str?b?tut Cambodgia de la nord la sud într-o c?l?torie care ne-a trecut treptat de la extaz, la
                        | vederea complexului Angkor Wat, la pu?in? agonie...
                        a.moreDetail(href="#")
                            button.moreDetailButton(data-action="bea")
                                | Citeste mai mult...

            .articleWrap
                img.postPhotos(src="./static/post3.jpg", align="left")
                h1.titleArticle
                    | 15 lucruri pe care merit? s? le iei cu tine când c?l?tore?ti
                    .description
                        | Când e?ti acas? ai de toate la îndemân? sau m?car ?tii de unde s? faci rost.
                        | Când c?l?tore?ti lucrurile stau pu?in altfel. Nu prea po?i s? iei multe lucruri cu tine pentru c? vrei s? ai
                        | un bagaj cât mai mic, nu po?i nici s? prevezi toate situa?iile, mai mult sau mai pu?in limit?, în care vei fi pus ?i nici nu o s? ?tii mereu de unde s? faci rost...
                        a.moreDetail(href="#")
                            button.moreDetailButton(data-action="bea")
                                | Citeste mai mult...

            .articleWrap
                img.postPhotos(src="./static/post4.jpg", align="left")
                h1.titleArticle
                    | Despre experien?a culinar? din Asia
                    .description
                        |M? gândesc c? deja ?i s-a f?cut un pic foame sau poft? când ai auzit de mâncare asiatic?. Tot conceptul ?sta are o alur? exotic?, interesant?, apetisant? ?i este adev?rat, o mare partedin preparatele din Asia sunt delicioase, îns? experien?a de la fa?a locului este un pic diferit? fa?? de cea de la un restaurant exotic din Europa, a?a c? m-am gândit...
                        a.moreDetail(href="#")
                            button.moreDetailButton(data-action="bea")
                                | Citeste mai mult...


        .right-contain.col-md-3.col-md-offset-1
            .social
                a(href="www.facebook.com")
                    img(src="./static/facebook.png")
                a(href="www.pinterest.com")
                    img(src="./static/pinterest.png")
                a(href="www.twitter.com")
                    img(src="./static/twitter_bird.png")