.col-md-10.col-md-offset-1
    .wrapper.col-md-10.col-md-offset-1

        .left-contain.col-md-8
            li.articleWrap
                img.postPhotos(src="./static/post1.jpg", align="left")
                h1.titleArticle
                    | Ne pare rau :(
                .description
                    | Baza de date nu functioneaza
                    a.moreDetail(href="#")
                        button.moreDetailButton(data-action="bea")
                            |Citeste mai mult...


        .right-contain.col-md-3.col-md-offset-1
            .social
                a(href="www.facebook.com")
                    img(src="./static/facebook.png")
                a(href="www.pinterest.com")
                    img(src="./static/pinterest.png")
                a(href="www.twitter.com")
                    img(src="./static/twitter_bird.png")