.wrapper .left-contain {
  margin-top: 34px;
  min-height: 100%;
  float: left;
  position: relative;
  background: url('/static/trans.png');
  border-radius: 50px;
  z-index: 10;
  box-shadow: 12px 13px 19px black;
}
.wrapper {
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  position: Relative;
}
.col-md-12 {
  padding: 0;
  margin: 0;
}


.description {
  font-size: 18px;
  font-style: Italic;
  color: Black;
  margin: 10px;
  position: relative;
}

h1.titleArticle {
  font-size: 30px;
  font-weigth: Bold;
  color: Black
}

.postPhotos {
  margin: 25px;
  width: 163px;
  align: left;
  box-shadow: 7px 7px 12px #444444;
}

.articleWrap {
  position: relative;
  margin: 0;
  float: left;
  min-width: 200px;
  display: block;
}

.moreDetail {
  display: block;
  margin-bottom: 60px;
}

.moreDetail a {
  color: #444444;
  text-decoration: none;
  float: right;
  margin-top: 5px;
  box-shadow: 8px 7px 6px grey;
  border-radius: 30px;
  position: relative;
}

.moreDetail a:hover {
  color: #3FA3BB;

}

.moreDetailButton {
  height: 30px;
  width: 150px;
  background: -webkit-linear-gradient(#545454, #414141);
  background: -o-linear-gradient(#545454, #414141);
  background: -moz-linear-gradient(#545454, #414141);
  background: linear-gradient(#545454, #414141);
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  color: white;
  border-radius: 30px;
  float:right;
}

.moreDetailButton:hover {
  background: #3FA3BB;
  color: white;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
}
/* Right Side */
.social {
  margin: 28px -4px;

}

.wrapper .right-contain {
  margin-top: 34px;
  min-height: 100%;
  float: right;
  position: relative;
  background: url('/static/trans.png');
  border-radius: 50px;
  z-index: 10;
  box-shadow: 12px 13px 19px black;
}

.social img {
  margin-left: 20px;
  width: 40px;
  box-shadow: 8px 7px 6px grey;
  border: 1px solid grey;
}