#formContent.col-md-6
   h2.titleForm
    | New Article Model

   .input-group
      input#articleTitle.text.form-control(placeholder="Titlu articol" aria-describedby="basic-addon1")
   br
   .input-group
      textarea#articleDescription.text.form-control(placeholder="Descriere articol" aria-describedby="basic-addon1")
   br
   .input-group
      textarea#articleContent.text.form-control(placeholder="Content articol" aria-describedby="basic-addon1")
   br
   .input-group
      input#articleUrl.text.form-control(placeholder="Url imagine" aria-describedby="basic-addon1")
   br
   button#saveButton.btn.btn-default
      | Save
