.navbar-container.row
	.navbar.col-md-8.col-centered
		.collapse.navbar-collapse#bs-example-navbar-collapse-1
			ul#navigation.nav.navbar-nav
				li.navbar-ch
					a(href="#", title="Acasa")
						| Acasa
				li.navbar-ch.dropdown
					a.dropdown-toggle(href="#articole", title="Articole")
						| Articole
						span.caret
					ul#nav2.dropdown-menu
						li.navbar-ch2
							a(href="#", title="Sport")
								| Sport
						li.navbar-ch2
							a(href="#", title="Calatorii")
								| Calatorii
						li.navbar-ch2
							a(href="#", title="IT")
								| IT
				li.navbar-ch
					a(href="#", title="Despre Mine")
						| Despre Mine
				li.navbar-ch
					a(href="#contact", title="Contact")
						| Contact

