#formContent.col-md-6
   h2.titleForm
      | Update Comment

   .input-group
      | Comentariul
      textarea#commentContent.text.form-control(placeholder="Comentariu" aria-describedby="basic-addon1")

   button#saveButtonCom.btn.btn-default
      | Save


